<div class="panel-body">

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ resource.title }}</td>
            <td>{{ resource.price|number_format(2,'.',' ') }}</td>
        </tr>
    </table>
</div>
